{% extends "layout.html" %}

{% block main %}

<div>
    <h3>
        Founders:
    </h3>
    <p>
        BergInsights was founded by Dylan Bruckner and Daniel Rosario, 
        members of the Harvard Undergraduate Class of 2027. 
        They founded the website as part of their CS50 final project, 
        and as it become commenplace and made them millions, they
        soon retired and became proffesional tic-tac-toe players. 
        The website is now run by Blockbuster.
    </p>
    <h3>
        What is BergInsights?
    </h3>
    <p>
        It is a webpage designed to inform Harvard first-years about the menu options and wait times at Annenburg dinning hall,
         relying on user input for data.
    </p>
    <h3>
        How is it related to BergDash?
    </h3>
    <p>
        BergInsights partnered with BergDash on 12/6/2023, fusing the two most popular webpages on the Harvard campus into one.
        BergDash is a food delivery service run and used by Harvard students, allowing them to order food to their dorm, or make a few 
        extra bucks delivering food. 
    </p>
    <h3>
        What are the BergInsights key values?
    </h3>
    <p>
        BergInsights was founded on determination, perserverance, and passion. We hold all of these values close to us as we 
        continue our mission to provide information to the Harvard student base. We also stive maintain equality, and are constantly 
        trying to make the world a better place. 
    </p>

{% endblock %}