{% extends "layout.html" %}

{% block main %}

<h1>
  Yessir Buddo
</h1>
<!-- carousel -->
<!-- jinja is used to fill tables with day's food, create carousel slides for all of the days we want -->
<!-- and to display the current/upcoming meal as active! -->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% for eday in entreesdict %}
      {% if eday == 0 %}
      <div class="carousel-item active">
      {% else %}
      <div class="carousel-item">
      {% endif %}
        {% if entreesdict[eday] is none %}
        <p>This meal got no entrees home dog!</p>
        {% else %}
        <table class="table table-primary">
          <thead>
            <tr>
              <th class="table-collumn" scope="col">Entree</th>
              <th class="table-collumn" scope="col">Rating</th>
              <th class="table-collumn" scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for entree in entreesdict[eday] %}
            <tr>
              <th class="table-row-head" scope="row">{{ entree }}</th>
              <td class="table-row"> {{ ratingsdict[eday][loop.index0] }}/5</td>
              <td class="table-row">{{ commentsdict[eday][loop.index0] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% endfor %}
      
      <div class="carousel-item">
        <p>
          testing slide 123123
        </p>
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<br>

<h1>
  Current Wait Time
</h1>

<h2>
  {{ average_wait_time }}
</h2>

{% endblock %}